{%extends 'base.html'%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
{%block content%}
<div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Basic Form Inputs</h5>
                        <p class="m-b-0">
                            Lorem Ipsum is simply dummy text of the printing
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="index.html"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!">Form Components</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!">Basic Form Inputs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                {%if messages%}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {%endif%}
                <!-- Page body start -->
                <div class="page-body">

                    <form action="" method="POST">
                        {% csrf_token %}

                        <div class="alert">
                            <p>Are you sure you want to delete "{{ object }}"?</p>
                            <p>All contents attached to this student will be deleted</p>
                        </div>

                        <input type="submit" class="btn btn-primary" value="Confirm">

                    </form>
                </div>
                <!-- Page body end -->
            </div>
        </div>
        <!-- Main-body end -->
        <div id="styleSelector"></div>
    </div>
</div>

{%endblock%}

